{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Login{% endblock title%}

{% block head %}
    {{ super() }}
    
{% endblock head%}

{% block body %}    
    <div class="container border rounded p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-3 border rounded p-4 bg-light shadow">
                <h2 class="mb-4">Login</h2>
                {{ render_form(form) }}
            </div>
        </div>
    </div>  
{% endblock body %}
